:root {
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);

  --purple-700: hsl(248, 32%, 49%);
  --purple-350: hsl(246, 25%, 77%);

  --gray-900: hsl(249, 10%, 26%);

  --shadow-sm: 0 7px 2px hsl(249 10% 26% / 0.4);
  --shadow-md: 0 9px 2px hsl(249 10% 26% / 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--red-400);
  background-image: url(./images/bg-intro-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;

  margin: 2rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* ------------------------------
      SIGNUP INTRO
-------------------------------- */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__intro {
  text-align: center;
  color: white;
  margin-top: 1.1rem;
  padding-top: 1.8rem;
}

.signup__title {
  font-size: clamp(1.47rem, 2vw, 3.6rem);
  line-height: 1.2;
}

.signup__description {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: clamp(0.86rem, 1.5vw, 1.18rem);
  line-height: 1.6;
}

/* ------------------------------
      OFFER BANNER
-------------------------------- */
.signup__form-section {
  margin-top: 3.6rem;
}

.signup__offer {
  background-color: var(--purple-700);
  color: white;
  padding: clamp(1rem, 2vw, 1.4rem) 4rem;
  border-radius: clamp(7px, 1vw, 10px);
  font-size: clamp(0.84rem, 1.2vw, 1.13rem);
  font-weight: 300;

  display: block;
  margin: 0 auto 1.2rem;

  max-width: clamp(17.3rem, 40vw, 39.2rem);
  width: 100%;

  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.signup__offer:hover {
  background-color: hsla(247, 48%, 60%, 0.9);
}

.signup__offer span {
  font-weight: 600;
}

/* ------------------------------
      FORM
-------------------------------- */
.form {
  background-color: white;
  border-radius: clamp(7px, 1vw, 10px);

  padding: clamp(1rem, 2vw, 3rem);
  max-width: clamp(17.3rem, 40vw, 39.2rem);
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1.5vw, 1.4rem);

  margin: 0 auto;
  box-shadow: var(--shadow-sm);
}

/* INPUTS */
.form__group {
  position: relative;
}

.form__group input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsla(249 10% 26% / 0.3);

  padding: clamp(0.7rem, 1vw, 1.2rem) clamp(0.6rem, 1vw, 2rem);
  padding-left: clamp(1rem, 2vw, 2.1rem);

  font-size: clamp(0.8rem, 1vw, 1.05rem);
  font-weight: 700;
  color: var(--gray-900);
}

.form__group input:focus {
  outline: none;
  border-color: var(--purple-700);
}

/* ERROR ICON */
.form__group-error-icon {
  position: absolute;
  top: 50%;
  right: clamp(1rem, 1.5vw, 2rem);
  transform: translateY(-100%);
  width: clamp(22px, 2vw, 29px);
  height: auto;
  display: none;
}

/* ERROR TEXT */
.form__group-error-text {
  display: flex;
  justify-content: flex-end;

  margin-top: 0.5rem;
  font-style: italic;
  color: var(--red-400);

  font-size: clamp(0.7rem, 1vw, 0.8rem);
  font-weight: 600;

  visibility: hidden;
}

/* SUBMIT BUTTON */
.form__submit {
  background-color: var(--green-400);
  border-radius: 5px;
  color: white;

  padding: clamp(0.7rem, 1vw, 1.3rem) 0;
  font-size: clamp(0.8rem, 1vw, 1.12rem);
  letter-spacing: 0.8px;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
  box-shadow: 0 5px 1px hsl(154 59% 46%);
}

.form__submit:hover {
  background-color: hsl(154 65% 68%);
  box-shadow: 0 5px 1px hsl(154, 40%, 63%);
}

/* TERMS */
.form__terms {
  text-align: center;
  color: var(--purple-350);
  font-size: clamp(0.5rem, 1vw, 0.81rem);

  padding: 0 1.3rem;
}

.form__terms a {
  font-weight: 700;
  color: var(--red-400);
}

/* ------------------------------
      DESKTOP LAYOUT
-------------------------------- */
@media (min-width: 1024px) {
  body {
    margin: 0;
    background-image: url(./images/bg-intro-desktop.png);
  }

  .signup {
    flex-direction: row;
  }

  .signup__intro {
    text-align: left;
    margin-left: 8rem;
    flex: 0.7;
    padding-top: 0;
  }

  .signup__description {
    padding: 0;
  }

  .signup__form-section {
    flex: 1;
  }
}

@media (min-width: 1440px) {
  .signup__intro {
    margin-left: 12rem;
  }
}